.env
.env.*
!.env.example
.git
.logs
.next
.turbo
coverage
dist
node_modules
**/.next
**/.turbo
**/coverage
**/dist
**/node_modules
admin.dev.err.log
admin.dev.log
backend.dev.err.log
backend.dev.log
web.dev.err.log
web.dev.log
docs/deliverables
docs/presentation-assets/node_modules
